</div>

<footer class="bg-light border-top mt-5 py-4">
    <div class="container text-center">

        <p class="mb-1">
            © 2026 Task Manager
        </p>

        <small class="text-muted">
            Практическая работа на Express + EJS
        </small>

    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>